name: Honeygain Pot

on:
  schedule:
    - cron: '0 0 * * *' # Corre todos os dias à meia-noite
  workflow_dispatch: # Isto faz aparecer o botão para correres manualmente

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run script
        env:
          MAIL: ${{ secrets.MAIL }}
          PASS: ${{ secrets.PASS }}
        run: python main.py
